key "dns-update" {
        algorithm HMAC-SHA256;
        secret {{ nsupdate_key_secret }};
};

key "dns-transfer" {
        algorithm HMAC-SHA256;
        secret {{ transfer_key_secret }};
};
zone "{{ domain }}" {
    type master;
    file "/var/lib/bind/db.{{ startup_name }}";
    allow-transfer { key dns_transfer; };
    allow-update { key dns_update; };
};
