key "dns-update" {
        algorithm hmac-sha256;
        secret '$5$qMIbgT/B/jqj$LbEwOVIjtByVDxBBtlJFEmRi3OrgSMlFa0gGPH4m0NB';
};

key "dns-transfer" {
        algorithm hmac-sha256;
        secret '$5$qMIbgT/B/jqj$LbEwOVIjtByVDxBBtlJFEmRi3OrgSMlFa0gGPH4m0NB';
};

zone "{{ domain }}" {
    type master;
    file "/var/lib/bind/db.{{ startup_name }}";
    allow-transfer { key dns_transfer; };
    allow-update { key dns_update; };
};
